/* start globel roles (chouaib) */

/* font style */
body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* end globel roles (chouaib) */

/*  start header */
.header {
    display: flex;
    grid-template-columns: 1fr 2fr 1fr;

    justify-content: space-between;
    align-items: center;
    background-color: rgb(38, 50, 56);
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    float: right;
    z-index: 1;
    overflow-x: unset;
}

.button-header {
    background-color: rgb(38, 50, 56);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-header:hover {
    box-shadow: 1px 1px 0px rgb(192, 233, 203, 0.6);
}

.search-container {

    position: relative;
    margin: 10px;
    margin-right: -200px;

}

.search-container input {
    width: 300px;
    font-size: 12px;
    padding: 6px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #48606C;


}

/*
        @media (max-width: 1024px) {
            .search-input {
                width: 250px; /* Réduit un peu la largeur */


.search-container ::placeholder {
    color: #fff;
}

.search-container input:focus {
    width: 400px;
}

.search-container i {
    position: absolute;
    top: 50%;
    /* Positionne l icône au milieu verticalement du champ de recherche*/
    right: 20px;
    color: #fff;
    transform: translateY(-50%);
    /* Décale l’icône vers le haut de 50% de sa propre hauteur pour qu’elle soit parfaitement centrée verticalement*/
    cursor: pointer;
}

.header-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 40px;
}

.user-icon {
    width: 30px;
    height: 30px;
    background-color: #e1095f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

/* end header */


/* start sidebar*/
.sidebar {
    width: 200px;
    background-color: #7BA186;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /*fixe side bar :hanan*/
    position: fixed;
    /* Fixe la sidebar */
    height: calc(100% - 50px);
    /* S'assure qu'elle prend toute la hauteur de l'écran */
    left: 0;
    /* L'aligne sur le côté gauche */
    top: 50px;
    /* La fixe en haut */

}

.workspace {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 30px;
    color: #112a13;



}


.workspace .icon {
    width: 40px;
    height: 40px;
    background-color: #C0E9CB;
    border-radius: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    cursor: pointer;
    margin-bottom: 37px;
    margin-left: 29px;
    font-size: 15px;
}

nav ul li i {
    margin-right: 13px;
    font-size: 15px;


}

nav li:hover {
    transition: 0.5s ease;
    transform: translate(-15px);
    padding: 20px;
    border-radius: 100px;
    background-color: #0000003d;
}

/*end sidebar  */

/* start container (place ou se fait tout les modif js {chouaib] */
.container {
    background-color: #eee;
    width: calc(100% - 240px);
    height: calc(100vh - 50px);
    position: absolute;
    right: 0;
    bottom: 0;
}

.content {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 2000px;
    bottom: 0;
    background-color: rgb(255, 255, 255); /* Ensures visibility */
}

/* end container */

.board {
    margin-top: 80px;
}

.board-project {
    display: flex;
    flex-wrap: wrap; /* Permet le retour à la ligne */
    gap: 25px; /* Espace entre les paires */
    /* lespace entre aj-proj et projet*/
    padding-left: 20px;
    top: 60px;
}
 .MyProject{
    display: flex; /* Ensures it spans the full width */
    align-items: center; /* Centers text vertically */
    position: fixed;
    top: 23px;
    left: 240px;
    right: 0; /* Ensures it stretches to the right */
    width: calc(100% - 200px); /* Full width minus sidebar */
    height: 60px; /* Fixed height */
    padding-left: 20px;
    font-size: 40px;
    font-weight: bold;
    background-color: #ffffff;
    z-index: 1000; /* Ensures it stays above other elements */
 }

.ajouter-projet,
.projet {
    margin-right: 15px;
    width: 284px;
    height: 149px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 5px;
}
.ajouter-projet:hover, .projet:hover {
    transform: scale(1.05);
  }

/* modifier dans "+" pour devient plus grand */
.ajouter-projet {
    font-size: 184px;
    font-weight: 300;
}



.ajouter-projet {
    background-color: #AEC5D0;
    color: #2d3e3f;
}

.projet {
    background-color: #1D83CC;
    color: white;
}

/* start media */
@media (max-width: 900px) {}

/* end media */



/*Basma */
.project-table {
    width:100%;
    border-collapse: collapse;
    background: #fff;
 
   margin-top: 50px;
   height:150px ;
   border-top: 2px solid green;
  border-right: 2px solid green;
   
}
  
   
  


.project-table th, .project-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
}

.project-table th {
    background: #fff;
    color: rgb(22, 21, 21);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
   
   
}

.project-table tr:hover {
    background: #f9f9f9;
    transition: background 0.3s ease;
}

/* Style des statuts */
.status {
    padding: 6px 12px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
    text-align: center;
}

.status.in-progress {
    background: #d6e232;
    color: white;
}

.status.completed {
    background: #28a745;
    color: white;
}

/* Style des boutons */
.view-btn {
    padding: 6px 12px;
    background: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    transition: background 0.3s ease, transform 0.2s ease;
    font-size: 12px;
    font-weight: 500;
}

.view-btn:hover {
    background: #2980b9;
    transform: scale(1.03);
}

/* Style du footer du tableau */
.table-footer {
    padding: 12px;
    text-align: right;
    font-size: 13px;
    color: #666;
    background: #f9f9f9;
    border-top: 1px solid #e0e0e0;
}
/* Animation plus subtile pour les lignes */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.project-table tbody tr {
    animation: fadeIn 0.4s ease forwards;
    opacity: 0;
}

/* Conteneur principal */
.table-container {
    width: 100%;
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    padding: 20px; /* Espace intérieur pour la barre de recherche */
}

/* Barre de recherche */
.search-project-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Espace entre la barre de recherche et le tableau */
    width:200px;
  
    float: right;
    margin-right: 50px;
   
    
}

.search-project-input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 8px 0 0 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

.search-project-input:focus {
    border-color: #3b5e75;
    width: 350px;
}

.search-project-btn {
    padding: 8px 12px;
    background: #14679f;
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 50px;
}

.search-project-btn:hover {
    background: #2980b9;
}

.search-project-btn i {
    font-size: 15px;
}



.button-header {
position: relative;
cursor: pointer;

}
.button-header::before{
    content:attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left:50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s,visibility 0.3s;
  
   

}
.button-header:hover::before{
    opacity: 1;
    visibility: visible;

   
}







#teamPage {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto;
    margin-right: 40px;
}

.header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
}

.header2 button {
    background-color: #242cc8;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12;
    font-weight: normal;
    transition: background 0.3s ease, transform 0.2s ease;
    height: 35;
}

.header2 button:hover {
    background: #1a22a5;
    transform: scale(1.05);
}

.search-bar-container {
    display: flex;
    width: 100%; 
    align-items: center;
    margin-bottom: 20px;
    max-width: 700px;
    float: left;
    margin-left: 30px;
    border-bottom: 1px solid #14679f;
    padding-bottom: 5px;
}

.search-input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 8px 0 0 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.search-btn {
    color: rgb(26, 24, 24);
    border: none;
    background-color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

.team-section {
   
    margin-top: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 40px;
}

.team-section h2 {
    font-size: 22px;
    color: #2c3e50;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 30px;
   
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.team-member:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.member-info h3 {
    font-size: 15px;
    color: #2c3e50;
    font-weight: 600;
    margin: 0;
}

.member-info p {
    font-size: 14px;
    color: #666;
    margin: 5px 0 0;
}




.team-member {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    gap: 15px; /* Espace entre avatar et description */
}

.avatar {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    background-color: #c05c5c; /* Couleur temporaire pour l'avatar */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.member-info {
    display: flex;
    flex-direction: column;
}

.status {
    font-size: 12px;
    color: green; /* Couleur pour le statut */
    font-weight: bold;
}


.inspirational-title {
    text-align: center;
    margin-bottom: 50px;
    animation: fadeInUp 1s ease forwards;

}

.inspirational-title h2 {
    font-size: 20px;
    color: #2c3e50;
    margin-bottom: 10px;
    font-weight: bold;
}

.inspirational-title p {
    font-size: 14px;
    color: #666;
    margin: 0;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*Basma*/