@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300&display=swap');

        body {
           
            margin: 0;
         
            display: flex;
            height: 100vh;
            flex-direction: column;
        }
        /*  start header */
        header {
            display: flex;
            justify-content: space-between;
            align-items:center;
            background-color: rgb(38, 50, 56);
            padding: 10px 20px;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 30px;
            float: right;
        }
        .button-header{
            background-color: rgb(38, 50, 56);
            border: none;
            cursor: pointer;
            border-radius: 5px;
            width: 30px;
            height: 30px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .button-header:hover{
            box-shadow: 1px 1px 0px rgb(192, 233, 203 , 0.6);
        }
        .search-container{
       
            position: relative;
            margin: 10px ;
            margin-right: -200px;
            
        }
        .search-container input{
            width: 300px;
            font-size: 12px;
            padding: 6px;
            border-radius: 20px;
            border: none;
            box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
            background-color: #48606C;

           
        }/*
        @media (max-width: 1024px) {
            .search-input {
                width: 250px; /* Réduit un peu la largeur */
           
       
        .search-container  ::placeholder{
            color: #fff;
        }
        .search-container input:focus{
            width: 400px;
        }

        .search-container i{
            position: absolute;
             top: 50%;  /* Positionne l icône au milieu verticalement du champ de recherche*/
 
             right: 20px;
             color: #fff;
             transform: translateY(-50%); /* Décale l’icône vers le haut de 50% de sa propre hauteur pour qu’elle soit parfaitement centrée verticalement*/
 
             cursor: pointer;
        } 
        .header-icon {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-right: 40px;
        }
        .user-icon {
            width: 30px;
            height: 30px;
            background-color: #e1095f;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            border:none;
            cursor: pointer;
        } /* end header */


        .container {
            display: flex;
            flex: 1;
        }
        /* start sidebar*/
        .sidebar {
            width: 200px;
            background-color: #7BA186;
            color: white;
            padding: 20px;
            display: flex;
            flex-direction: column;
            /*fixe side bar :hanan*/
            position: fixed; /* Fixe la sidebar */
            height: 100vh; /* S'assure qu'elle prend toute la hauteur de l'écran */
            left: 0; /* L'aligne sur le côté gauche */
            top: 50px; /* La fixe en haut */

        }
      
        .workspace {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            margin-top: 30px;
            color: #112a13;
           
            
          
        }

        
        .workspace .icon {
            width: 40px;
            height: 40px;
            background-color: #C0E9CB;
            border-radius: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: bold;
            margin-right: 10px;
        }
        nav ul {
            list-style: none;
            padding: 0;
        }
        nav ul li {
           
            margin: 10px 0;
            cursor: pointer;
            font-size: 15px;
            font-weight: 30px;
        }
        nav ul li i{
            margin-right: 13px;
            font-size: 15px;
          
           
        }
        nav li:hover{
            background-color: #b7c3b9;
          
          
          
        }
        /*end sidebar  */
        
        .content {
            flex:1;  /*L'élément occupe tout l’espace disponible*/

            padding: 50px;
            background-color: #f4f4f4;
            
            margin-left: 200px;/*pour n'etre pas au dessus du side bar car elle est fixé :hanan*/
            
        }
    
  
        .board {
            margin-top: 80px;
        }
        .board-project {
            display: flex;
            gap: 10px;  /* lespace entre aj-proj et projet*/
        }
       
        .ajouter-projet, .projet {
            margin-right: 15px;
            width: 150px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            cursor: pointer;   /*  Change le curseur en main avec un doigt pointé*/
            border-radius: 5px;
        }
        .projet:hover{
            background-color: #333834;
        }
        .ajouter-projet:hover{
            background-color: #76929f;
        }
        .ajouter-projet {
            background-color: #AEC5D0;
            color: #2d3e3f;
        }
        .projet {
            background-color: #1D83CC;
            color: white;
            }
